<div id="watch-this-vid">
	<div id="watch-checker-div">
		<a href="http://fr.youtube.com/version-check.swf" class="abp-objtab-06394574970617709 visible" title="Cliquer ici afin qu'Adblock Plus bloque cet objet" style="left: 0px ! important; top: 1px ! important;"/>
		<embed width="0" height="0" quality="high" bgcolor="#FFFFFF" name="checker" id="checker" style="" src="/version-check.swf" type="application/x-shockwave-flash"/>
	</div>
	<div id="watch-player-div">
		<a href="http://fr.youtube.com/player2.swf" class="abp-objtab-06394574970617709 visible ontop" title="Cliquer ici afin qu'Adblock Plus bloque cet objet" style="left: 480px ! important; top: 0px ! important;"/>
		<embed width="480" height="395" flashvars="BASE_YT_URL=http://fr.youtube.com/&amp;vq=null&amp;sourceid=y&amp;video_id=J6oA11PFz2Y&amp;l=191&amp;sk=E_ngRmkHn8UFHTj_Ss-zrwC&amp;fmt_map=&amp;t=OEgsToPDskJ0V0OIKAVmRsUsVRLyoK5R&amp;hl=fr&amp;plid=AARKs4Ek0UiHS5DCAAAAIAA4AAA&amp;sdetail=p%3A/&amp;playnext=0" allowfullscreen="true" quality="high" bgcolor="#FFFFFF" name="movie_player" id="movie_player" style="" src="/player2.swf" type="application/x-shockwave-flash"/>
	</div> 
	<script type="text/javascript">
		writeMoviePlayer("watch-player-div");
		var to = new SWFObject("/version-check.swf", "checker", "0", "0", "0", "#FFFFFF");
		to.write("watch-checker-div");
	</script>
</div> 
