<div id="video-page">
<script language="JavaScript">
document.writeln('<iframe id="video-player-container" scrolling="no" src="http://i.imdb.com/b.gif" width="100%" height="100%" margin="none" leftmargin="0" marginheight="0" marginwidth="0" topmargin="0" frameborder="0" bgcolor="#000000"></iframe>');
document.writeln('<noframes>Having problems? Please use a 5.0+ version browser.</noframes>');

var videoSrc = '/video/screenplay/vi381485337/player';
var videoLoaded = 0;

function setVideoSrc()
{
	if (videoLoaded) {
		return;
	} else {
		videoLoaded = 1;
	}
	var frm;
	if ((document.all)) {
		frm = document.all['video-player-container'];
	} else {
		frm = document.getElementById('video-player-container');
	}
	frm.src = 'http://i.imdb.com/b.gif';
	setTimeout("delaySetVideoSrc();",100);
}

function delaySetVideoSrc()
{
	var frm;
	if ((document.all)) {
		frm = document.all['video-player-container'];
	} else {
		frm = document.getElementById('video-player-container');
	}
	frm.src = videoSrc;
}

setVideoSrc();
setInterval("setVideoSrc();",100);
</script>

<iframe width="100%" scrolling="no" height="100%" frameborder="0" bgcolor="#000000" topmargin="0" marginwidth="0" marginheight="0" leftmargin="0" margin="none" src="/video/screenplay/vi381485337/player" id="video-player-container"/>
<noframes>Having problems? Please use a 5.0+ version browser.</noframes>

<noscript>Having problems?  Please make sure JavaScript is enabled.</noscript>

<table id="video-details">
<tbody><tr><td class="video-details-key">Video at a Glance:</td>
<td class="video-details-value">
Uploaded: 04/10/2008</td></tr>
<tr><td class="video-details-key">Description:</td>
<td class="video-details-value">Open-ended Trailer from Fine Line Features
</td></tr>
<tr><td class="video-details-key">Video URL:</td>
<td class="video-details-value"><a href="http://www.imdb.com/rg/VIDEO_PLAY/LINK//video/screenplay/vi381485337/">http://www.imdb.com/video/screenplay/vi381485337/</a></td></tr>
<tr><td class="video-details-key">Related Titles:</td><td class="video-details-value"><a href="/rg/VIDEO_PLAY/DETAILS_REL_TITLE/title/tt0115837">Carried Away</a></td></tr>
<tr><td class="video-details-key">Related Names:</td><td class="video-details-value"><a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0000454">Dennis Hopper</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0001388">Amy Irving</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0000504">Amy Locane</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0364915">Julie Harris</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0000997">Gary Busey</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0001358">Hal Holbrook</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0678645">Christopher Pettiet</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0688467">Priscilla Pointer</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0188687">Gail Cronauer</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0016242">Alissa Alban</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0606505">E.J. Morris</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0828494">Joe Stevens</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0177959">Connie Cooper</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0504441">Eleese Lester</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0413464">Doug Jackson</a>, <a href="/rg/VIDEO_PLAY/DETAILS_REL_NAME/name/nm0000853">Bruno Barreto</a></td></tr>
<tr><td class="video-details-key">Courtesy of:</td><td class="video-details-value">Screenplay, Inc.</td></tr>
</tbody></table>

<div class="play_faq">
<div class="faq_header">Frequently Asked Questions</div>
<div class="faq_question faq_question_hide" id="faq_1">How do I get the video to play on my computer?</div>

<div style="margin: 8px 0px 0px; overflow: hidden; height: 0px;"><div class="faq_answer" id="faq_answer_1" style="margin: -197px 0px 0px;"><p>You can begin to play the video by clicking on the triangle "play" image sitting in the middle of the video player on this page.

</p><p>If you do not see a video player on this page, you may not have Flash installed on your computer.  To play a video, you need to have Flash 8+ installed on your computer.  Versions of Flash are available for Mac, Windows, and Linux, and can be downloaded free of charge <a href="http://www.adobe.com/products/flashplayer/">here</a>.

</p><p>If you have Flash 8+ installed on your computer and you still cannot see a video player, you may have installed Flash blocking or ad blocking software which prevents you from seeing this Flash video.  To see the video, you will need to disable your blocking software on IMDb.com.
</p></div></div><script language="JavaScript">
<!--
var slider_1 = new Fx.Slide('faq_answer_1', 
 { duration: 500,
   onStart: function() {
         var elem = $('faq_1');
         if (elem.className.match('_question_hide')) {
            elem.className = 'faq_question faq_question_show';
         }
         else {
            elem.className = 'faq_question faq_question_hide';
        }
     }
 });
window.addEvent('domready', function(){  slider_1.hide();  });
$('faq_1').addEvent('click', function(){ slider_1.toggle(); });
-->
</script>
<div class="faq_question faq_question_hide" id="faq_2">This content should be taken down; how do I report it?</div>

<div style="margin: 8px 0px 0px; overflow: hidden; height: 0px;"><div class="faq_answer" id="faq_answer_2" style="margin: -54px 0px 0px;">If you believe this video contains offensive or copyrighted material, please <a href="http://www.imdb.com/video/help/report?video=vi381485337">report it to our customer service staff</a>.  Once you're reported the video, a staff member will decide whether or not to take it down.  
</div></div><script language="JavaScript">
<!--
var slider_2 = new Fx.Slide('faq_answer_2', 
 { duration: 500,
   onStart: function() {
         var elem = $('faq_2');
         if (elem.className.match('_question_hide')) {
            elem.className = 'faq_question faq_question_show';
         }
         else {
            elem.className = 'faq_question faq_question_hide';
        }
     }
 });
window.addEvent('domready', function(){  slider_2.hide();  });
$('faq_2').addEvent('click', function(){ slider_2.toggle(); });
-->
</script>
</div>

</div>
