Configuration du module

<!--#begin configuration -->
<form name="configuration" method="post" action="{ babPhpSelf }">
    <input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
	<input type="hidden" name="tg" value="{ babAddonTarget }/admin">
	<input type="hidden" name="idx" value="configurationenr">
	<table class="multimediaspace_cadre" cellpadding="4" cellspacing="0">
		<tr>
			<td colspan="2" align="center">
				<input type="submit" value="{ enregistrer }" class="multimediaspace_bouton">
				<br /><br /><br />
			</td>
		</tr>
		<tr>
			<td>
				{ tlien } <span class="multimediaspace_obligatoire">*</span> :
			</td>
			<td>
				<select name="lien">
					<!--#in listetypesliens -->
					<!--#if selection -->
					<option value="{ idtypelien }" selected="selected">{ nomtypelien }</option>
					<!--#else selection -->
					<option value="{ idtypelien }">{ nomtypelien }</option>
					<!--#endif selection -->
					<!--#endin listetypesliens -->
				</select>
			</td>
		</tr>
		<tr>
			<td>
				{ tlecteur_video_par_defaut } <span class="multimediaspace_obligatoire">*</span> :
			</td>
			<td>
				<select name="lecteur_video_par_defaut">
					<!--#if lecteur_video_par_defaut "== flvplayer_maxi" -->
					<option value="flvplayer_maxi" selected="selected">FLVPlayer complet</option>
					<option value="flvplayer_mini">FLVPlayer basique</option>
					<!--#else lecteur_video_par_defaut -->
					<option value="flvplayer_maxi">FLVPlayer complet</option>
					<option value="flvplayer_mini" selected="selected">FLVPlayer basique</option>
					<!--#endif lecteur_video_par_defaut -->
				</select>
			</td>
		</tr>
		<tr>
			<td>
				{ texpediteur_nom } <span class="multimediaspace_obligatoire">*</span> :
			</td>
			<td>
				<input type="text" name="expediteur_nom" value="{ expediteur_nom }">
			</td>
		</tr>
		<tr>
			<td>
				{ texpediteur_mail } <span class="multimediaspace_obligatoire">*</span> :
			</td>
			<td>
				<input type="text" name="expediteur_mail" value="{ expediteur_mail }">
			</td>
		</tr>
	</table>
</form>
<br />
<span class="multimediaspace_obligatoire">*</span> : { aide }
<br />
<br />
{ taideflvplayer }
<!--#end configuration -->








<!--#begin videotemplates -->

<div class="BabLoginCadreBackground" style="width: 95%; margin: 1em auto">

<div class="bab_toolbar">
	<a title="{ t_add_template }" href="{ add_video_url }" class="bab_toolbarItem"><img alt="" src="ovidentia/skins/ovidentia/images/Puces/list-add.png" style="vertical-align: middle"><span style="vertical-align: middle">{ t_add_template }</span></a>
</div>

<table width="100%" cellspacing="0" cellpadding="5" border="0">
<tr class="BabSiteAdminTitleFontBackground">
  <td>{ t_template }</td>
  <td>{ t_description }</td>
  <td style="width: 15em"></td>
</tr>
<!--#in listTemplates -->
<tr class="<!--#if odd -->BabForumBackground1<!--#else odd -->BabSiteAdminFontBackground<!--#endif odd -->">
  <td>{ template_name }</td>
  <td>{ template_description }</td>
  <td style="text-align: right"><a href="{ edit_url }" title="{ edit_title }">{ t_edit }</a> <a href="{ delete_url }" title="{ delete_title }">{ t_delete }</a></td>
</tr>
<!--#endin listTemplates -->
</table>


</div>

<!--#end videotemplates -->








<!--#begin videotemplateedit -->

<div class="BabLoginMenuBackground" style="border: 1px solid #ccc; padding: 2em; margin: 3em">
<form name="configuration" method="post" action="{ babPhpSelf }">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />
  <input type="hidden" name="tg" value="{ babAddonTarget }/admin">
  <input type="hidden" name="idx" value="videotemplatesave">
  <input type="hidden" name="template[name]" value="videotemplatesave">

  <div>
    <label style="text-align: right; vertical-align: top; display: inline-block; width: 12em">{ t_template_name } :</label>
    <input name="template[name]" type="text" style="width: 400px" value="{ template[name] }" />
  </div>
  <br />
  <div>
    <label style="text-align: right; vertical-align: top; display: inline-block; width: 12em">{ t_template_description } :</label>
    <input name="template[description]" type="text" style="width: 400px" value="{ template[description] }" />
  </div>
  <br />
  <div>
    <label style="text-align: right; vertical-align: top; display: inline-block; width: 12em">{ t_template_body } :</label>
    <textarea name="template[body]" style="width: 400px; height: 150px">{ template[body] }</textarea>
  </div>
  <br />
  <div>
    <label style="text-align: right; vertical-align: top; display: inline-block; width: 12em">{ t_template_parameters } :</label>
    <textarea name="template[parameters]" style="width: 400px; height: 100px">{ template[parameters] }</textarea>
  </div>

  <br />
  <div style="margin-left: 12em">
  <input type="submit" value="{ t_save }" />
  &nbsp;&nbsp;
  <a href="{ cancel_url }">{ t_cancel }</a>
  </div>
</form>
</div>

<!--#end videotemplateedit -->
