/* Styles du module Ovi-videos d'Ovidentia */

#multimediaspace_principal a {
	text-decoration: none;
}

#multimediaspace_principal .multimediaspace_obligatoire {
	color: red;
}

#multimediaspace_principal .multimediaspace_table {
	background-color: #f5f5f5;
	border: #dedede 1px solid;
}

#multimediaspace_principal .multimediaspace_table td {
	border: #dedede 1px solid;
}

#multimediaspace_principal .multimediaspace_table a {
	outline: none;
}

#multimediaspace_principal .multimediaspace_table tr:hover {
	background-color: #d6edff;
}

#multimediaspace_principal .multimediaspace_gras {
	font-weight: bold;
	background-color: #e3e3e3;
}

#multimediaspace_principal .multimediaspace_gras:hover {
	background-color: #e3e3e3 !important;
}

#multimediaspace_principal .multimediaspace_cadre {
	background-color: #eeeeee;
	color:#000;
	border: #cdcdcd 1px solid;
	padding: 10px;
}

#multimediaspace_principal .multimediaspace_cadre50 {
	background-color: #eeeeee;
	color:#000;
	border: #cdcdcd 1px solid;
	padding: 10px;
	width: 50%;
}

#multimediaspace_principal .multimediaspace_cadre50 ul {
	padding: 0;
}

#multimediaspace_principal .multimediaspace_description {
	text-align: center;
	font-size: 13px;
	margin-bottom: 20px;
}

#multimediaspace_principal .multimediaspace_bouton {
	margin-top: 10px;
	background-color: #eeeeee;
	border: #949494 2px outset;
	color: #5f5f5f;
	font-weight: bold;
	float: right;
}

/* Liste des videos */

.multimediaspace_listevideos {
	text-align: left;
}

.multimediaspace_chemin {
	background-color: #eeeeee;
	color:#000;
	border: #cdcdcd 1px solid;
	padding: 10px;
	font-size: 13px;
}

.multimediaspace_chemin a:link,
.multimediaspace_chemin a:visited {
	font-size: 13px;
	color: black;
	text-decoration: none !important;
	outline: none;
}

.multimediaspace_chemin a:hover {
	font-size: 13px;
	color: black;
	text-decoration: underline !important;
	outline: none;
}

.multimediaspace_video {
	padding: 10px;
}

.multimediaspace_datevideo {
	background-color: #cf151a;
	color: white;
	padding: 5px;
}

.multimediaspace_nomvideo {
	font-variant: small-caps;
	font-size: 20px;
	font-weight: bold;
	color: #1c5bdc;
}

.multimediaspace_auteur {
	color: black;
	font-size: 12px;
}

.multimediaspace_miniature {
	text-decoration: none;
	outline: none;
}

.multimediaspace_miniature img {
	border: #cccccc 3px solid;
}

.multimediaspace_descriptionvideo {
	color: black;
	margin-left: 10px;
	font-size: 12px;
}



.multimediaspace_stat {
	color: #8d8d8d;
	font-size: 12px;
}

.multimediaspace_separation {
	border: #cfcfcf 1px solid;
	margin: 10px 0px 10px 0px;
}

/* Gestion : liste des repertoires */

.multimediaspace_listerepertoiresgestion a:link,
.multimediaspace_listerepertoiresgestion a:visited {
	color: black;
	outline: none;
	text-decoration: none;
}

.multimediaspace_listerepertoiresgestion a:hover {
	color: black;
	outline: none;
	text-decoration: underline !important;
}

/* Methodes d'integration : etape 1 de l'ajout d'une video */

.multimediaspace_tablemethodes {
	background-color:#EEEEEE;
	border:1px solid #CDCDCD;
	padding:10px;
}

.multimediaspace_tablemethodes td {
	border:1px solid #CDCDCD;
	padding:10px;
}

.multimediaspace_tablemethodes a:link,
.multimediaspace_tablemethodes a:visited {
	outline: none;
	display: block;
	color: black;
}

.multimediaspace_tablemethodes a:hover {
	outline: none;
	display: block;
	color: #CF151A;
}

/* Liste des repertoires dans les fonctions de l'editeur wysiwyg */

.multimediaspace_listerepertoiresediteur a:link,
.multimediaspace_listerepertoiresediteur a:visited {
	color: black;
	outline: none;
	text-decoration: none;
	padding: 2px 0px 2px 0px;
}

.multimediaspace_listerepertoiresediteur a:hover {
	color: black;
	outline: none;
	text-decoration: underline !important;
	padding: 2px 0px 2px 0px;
}

.multimediaspace_listerepertoiresediteur_lienretour {
	clear: both;
}

.multimediaspace_listerepertoiresediteur_lienretour a:link,
.multimediaspace_listerepertoiresediteur_lienretour a:visited {
	color: black;
	outline: none;
	text-decoration: none;
}

.multimediaspace_listerepertoiresediteur_lienretour a:hover {
	color: black;
	outline: none;
	text-decoration: underline !important;
}





.mutlimediaspace_button {
	margin: 1em;
	display: block;
}
.multimediaspace_info {
	border: 1px solid #ccc;
	background: #eee;
	margin: 1em 2em;
	padding: 1em;
}

